body{
  margin: 0;
  padding: 0;
  background-color:#f3f3f3;
  text-align: center;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding-top: 20%; */

}

.main{
  background-color:#fff ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0,0,0,0.2);
  padding: 25px;
  width:90%;
  max-width: 600px;
}

.form{
  display: flex;
  flex-direction: column;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.inputs input, .inputs select, .message input {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
}

.message input{
  height: 60px;
  /* width: 580px; */
  margin-bottom: 20px;
}

button{
  padding: 10px;
  font-size: 16px;
  background-color: rgb(124, 124, 212);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 150px;
  width: 50%;
}

.error{
  
}

@media(min-width: 768px){

.inputs{
  flex-direction: row;
  gap: 20px;
}
.message .input{
  width: calc(100% - 40px);
}
}
